.recipe {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 2rem;
  padding: 10px;
  margin: 20px;
}
.recipe img {
  height: 200px;
  width: 200px;
}
.recipe-title {
  font-size: 14px;
  font-weight: bold;
}
.recipe-show {
  background: linear-gradient(to left, #743ad5, #d53a9d);
  color: white;
  font-weight: bold;
  width: 50%;
  height: 30px;
  border: none;
  border-radius: 25px;
  align-self: center;
  margin-top: 15px;
  outline: none;
}
.recipe-show:active:focus {
  border: none;
}

.recipe-show img {
  height: 15px;
  width: 15px;
}
