<header class="header">
  <img class="branding" src="assets/brunchifylogo.svg" alt="Brunchify Logo" />
  <nav class="nav-bar">
    <ul class="nav-list">
      <li>
        <a class="link" routerLink="/recipe-list"
          ><img class="home-icon" src="assets/cereal.svg" alt="home icon" />
          Home</a
        >
      </li>
      <li>
        <a class="link" routerLink="/favorites-page"
          ><img
            class="favorite-icon"
            src="assets/favorite.svg"
            alt="favorite icon"
          />
          Favorites</a
        >
      </li>
    </ul>
  </nav>
</header>
