.branding {
  height: 120px;
  width: 120px;
  margin-left: 20px;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 50px;
  align-items: center;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.nav-list {
  list-style: none;
  display: flex;
}
.link {
  text-decoration: none;
  padding: 10px;
  color: black;
}
.home-icon {
  height: 20px;
  width: 20px;
}
.favorite-icon {
  height: 20px;
  width: 20px;
}
