<div class="recipe">
  <div class="recipe-card">
    <img
      [ngClass]="{ active: isFavorite }"
      class="heart"
      (click)="toggleFavorite(recipeRef.recipe)"
      src="assets/love.svg"
      alt=""
    />
    <p class="recipe-title">{{ recipeRef.recipe.label }}</p>
    <img
      [hidden]="isShow"
      class="food-img"
      src="{{ recipeRef.recipe.image }}"
      alt="Food Image"
    />
    <div class="show-purple-border" [hidden]="!isShow">
      <div
        *ngFor="
          let item of recipeRef.recipe.ingredientLines;
          let lastItem = last
        "
        [hidden]="!isShow"
      >
        <span>{{ item }}</span
        ><span *ngIf="!lastItem">,</span>
      </div>
      <a class="recipe-link" href="{{ recipeRef.recipe.url }}" target="_blank"
        >Link To Full Recipe</a
      >
    </div>
    <p class="calories">
      <img class="burn-icon" src="assets/burn.svg" alt="" />
      {{ roundCalories() }} calories per serving
    </p>

    <button (click)="toggleDisplay($event)" class="recipe-show">
      <img class="shopping-icon" src="assets/shopping-list.svg" alt="" /> Get
      Recipe
    </button>
  </div>
</div>
