<app-header></app-header>

<div class="favorite-container" *ngFor="let favorite of favorites">
  <img
    class="heart"
    (click)="deleteFavorite(favorite)"
    src="assets/goodbroken.svg"
    alt="Broken Heart"
  />
  <div class="img-label-container">
    <p class="bolder">{{ favorite.label }}</p>
    <img class="food-img" src="{{ favorite.image }}" alt="Food Image" />
    <a class="recipe-link" href="{{ favorite.url }}" target="_blank"
      >Link To Full Recipe</a
    >
  </div>
  <div class="recipe-book">
    <img class="favorite-book" src="assets/favoritebook.svg" alt="Food Book" />
    <p class="bolder">Ingredients:</p>
    <div *ngFor="let item of favorite.ingredientLines; let lastItem = last">
      <span>{{ item }}</span
      ><span *ngIf="!lastItem">,</span>
    </div>
  </div>
</div>
