<app-header></app-header>

<div class="favorite-container" *ngFor="let favorite of favorites">
  <img
    class="heart"
    (click)="deleteFavorite(favorite)"
    src="assets/goodbroken.svg"
    alt="Broken Heart"
  />
  <div class="img-label-container">
    <p class="bolder p-padded">{{ favorite.label }}</p>
    <img class="food-img" src="{{ favorite.image }}" alt="Food Image" />
    <a class="recipe-link" href="{{ favorite.url }}" target="_blank"
      >Link To Full Recipe</a
    >
    <div>
      <a
        href="mailto:?subject=Check out this brunch recipe&amp;body=Check out this site {{
          favorite.url
        }}."
        title="Share by Email"
      >
        <img class="email-icon" src="/assets/message.svg" alt="email icon" />
      </a>
    </div>
  </div>
  <div class="recipe-book">
    <img class="favorite-book" src="assets/favoritebook.svg" alt="Food Book" />
    <p class="bolder">Ingredients:</p>
    <div *ngFor="let item of favorite.ingredientLines; let lastItem = last">
      <span>{{ item }}</span
      ><span *ngIf="!lastItem">,</span>
    </div>
    <p>Total cook time: {{ favorite.totalTime }} minutes</p>
  </div>
</div>
