.page-not-found {
  position: relative;
  text-align: center;
}
.center {
  font-size: 35px;
  position: absolute;
  top: 10%;
  left: 35%;
  transform: translate(-50%, -50%);
}
.bg {
  width: 100vw;
  height: 100vh;
}
