<form>
  <label for="searchTerm"></label>
  <input type="text" name="searchTerm" id="searchTerm" />
  <p>Dietary Restrictions</p>
  <input type="checkbox" id="dairy-free" name="dairy-free" value="dairy-free" />
  <label for="dairy-free">Dairy Free</label><br />
  <input
    type="checkbox"
    id="gluten-free"
    name="gluten-free"
    value="gluten-free"
  />
  <label for="gluten-free">Gluten Free</label><br />
  <input
    type="checkbox"
    id="high-protein"
    name="high-protein"
    value="high-protein"
  />
  <label for="high-protein">High Protein</label><br />
  <input type="checkbox" id="vegetarian" name="vegetarian" value="vegetarian" />
  <label for="vegetarian">Vegetarian</label><br />
</form>
