<div class="search-container">
  <form
    class="searchForm"
    #searchForm="ngForm"
    (ngSubmit)="getSearchTerm(searchForm); searchForm.reset()"
  >
    <label for="searchTerm"></label>
    <input
      class="border-gradient-purple"
      type="text"
      name="searchTerm"
      id="searchTerm"
      placeholder="What are you in the mood for? Search recipes!"
      ngModel
    />
    <p>Max Calories per Serving <span class="slide">...just slide</span></p>
    <input
      type="range"
      min="0"
      max="2000"
      name="calories"
      oninput="this.nextElementSibling.value = this.value"
      ngModel
    />
    <output></output>
    <p>Dietary Restrictions</p>
    <select class="select-style" name="diet" id="diet" ngModel>
      <option value="balanced">Balanced</option>
      <option value="high-fiber">High Fiber</option>
      <option value="high-protein">High Protein</option>
      <option value="low-carb">Low Carb</option>
    </select>
    <!-- <div class="checkboxes">
      <input
        type="checkbox"
        ng-model="checkbox"
        ng-true-value="1"
        ng-false-value="0"
        name="balanced"
        ngModel
      />
      <label for="balanced">Balanced</label><br />
      <input
        type="checkbox"
        ng-checked="high-fiber"
        id="highFiber"
        name="highFiber"
        ngModel
      />
      <label for="highFiber">High Fiber</label><br />
      <input
        type="checkbox"
        ng-checked="high-protein"
        id="highProtein"
        name="highProtein"
        ngModel
      />
      <label for="highProtein">High Protein</label><br />
      <input
        type="checkbox"
        ng-checked="low-carb"
        id="lowCarb"
        name="lowCarb"
        ngModel
      />
      <label for="lowCarb">Low Carb</label><br />
    </div> -->
    <button class="get-recipes-btn">Get Recipes</button>
  </form>
</div>
