.search-container {
  background-image: url(https://images.pexels.com/photos/1640770/pexels-photo-1640770.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 20px;
}
.searchForm {
  display: flex;
  flex-direction: column;
  margin: 40px auto;
  padding: 30px;
  width: 70%;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  border-radius: 25px;
}
.checkboxes {
  display: flex;
}
.border-gradient-purple {
  border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
  border-width: 5pt;
  border-image-slice: 1;
  border-radius: 5px;
  height: 30px;
}

.get-recipes-btn {
  background: linear-gradient(to left, #743ad5, #d53a9d);
  color: white;
  font-weight: bold;
  width: 50%;
  height: 30px;
  border: none;
  border-radius: 25px;
  align-self: center;
  margin-top: 15px;
}
input[type="range"] {
  width: 100%;
}

input[type="range"] {
  -webkit-appearance: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  height: 0.35em;
  background: linear-gradient(to left, #743ad5, #d53a9d);
  border: none;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  padding: 15px;
  border: none;
  height: 2em;
  width: 2em;
  border-radius: 50%;
  background-image: url("assets/egg (2).svg");
  margin-top: -10px;
}

input[type="range"]:focus {
  outline: none;
}
.slide {
  background: -webkit-linear-gradient(#743ad5, #d53a9d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
